<h1>Admin::Items#index</h1>
<!--管理者：商品一覧-->
<div class="container">
  <h4 class="bg-secondary">商品一覧</h4>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th><strong>商品ID</strong></th>
        <th><strong>商品名</strong></th>
        <th><strong>税抜価格</strong></th>
        <th><strong>ジャンル</strong></th>
        <th><strong>ステータス</strong></>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td>
          <ins>
          <%= link_to admin_item_path(item), class: "border_bottom text-dark" do %>
            <%= item.name %>
          <% end %>
          </ins>
        </td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.is_active == true %>
            <strong class="text-success">販売中</span>
          <% else item.is_active != true %>
            <strong class="text-black-50">販売停止中</span>
          <% end %>
        </td>
      </tr>
      <% end %>
      <%= paginate @items %>
    </tbody>
  </table>
</div>