<!--<h1>Admin::Items#show</h1>-->
<!--管理者：商品詳細画面-->
<div class="container">
  <div class="m-4">
    <h4 class="d-inline border border-secondary px-3 mb-5">商品詳細</h4>
  </div>

  <div class="row mt-5">
    <div class="col-sm-4">
      <%= image_tag @item.image, size: "300x230" %>
    </div>

    <div class="col-sm-8">
      <div class="row">
        <p class="col-sm-3">商品名</p>
        <div class="col-sm-9"><%= @item.name %></div>
      </div>
      <div class="row">
        <p class="col-sm-3">商品説明</p>
        <div class="col-sm-9"><%= @item.introduction %></div>
      </div>
      <div class="row">
        <p class="col-sm-3">ジャンル</p>
        <div class="col-sm-9"><%= @item.genre.name %></div>
      </div>
      <div class="row">
        <p class="col-sm-3">税込価格<br>(税抜価格)</p>
        <div class="col-sm-9">
          <%= (@item.price * 1.1).floor %>
          (<%= @item.price %>)円
        </div>
      </div>
      <div class="row">
        <p class="col-sm-3">販売ステータス</p>
        <p class="col-sm-9">
          <% if @item.is_active == true %>
            <strong class="text-success">販売中</span>
          <% else @item.is_active != true %>
            <strong class="text-black-50">販売停止中</span>
          <% end %>  
        </p>
      </div>
    </div>
  </div>
  <p class="row">
    <%= link_to '編集する', edit_admin_item_path(@item), class: "btn btn-success px-4 mx-auto d-block" %>
  </p>
</div>