<!--管理者用ログイン画面-->
<div class="container">
  <div class="m-4">
    <h4 class="d-inline border border-secondary px-3">管理者ログイン</h4>
  </div>

  <%= form_with model: @admin, url: admin_session_path do |f| %>
  
    <div class="field form-group row m-4">
      <%= f.label "メールアドレス", class: "col-sm-2 col-form-label ml-5" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-sm-5" %>
    </div>
  
    <div class="field form-group row m-4">
      <%= f.label "パスワード", class: "col-sm-2 col-form-label ml-5" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-sm-5 mb-2" %>
    </div>
  
    <div class="text-center">
      <%= f.submit "ログイン", class: "btn btn-primary text-center px-3" %>
    </div>
  <% end %>
  
  <%= render "admin/shared/links" %>
</div>