<!--<h1>Admin::Orders#show</h1>-->
<!--管理者：注文履歴詳細-->
<div class="container">
  <div class="m-4">
    <h4 class="d-inline border border-secondary px-3">注文履歴詳細</h4>
  </div>

  <div class="customer-content">
    <div class="row m-2">
      <h5 class="col-2"><strong>購入者</strong></h5>
      <div class="col-10">
        <%= link_to admin_customer_path(@order.customer_id), class: "text-dark border-bottom border-dark" do %>
          <%= @order.customer.first_name %><%= @order.customer.last_name %>
        <% end %>
      </div>
    </div>
    <div class="row m-2">
      <h5 class="col-2"><strong>注文日</strong></h5>
      <div class="col-10"><%= l @order.created_at, format: :short %></div>
    </div>
  </div>
  <div class="row m-2">
    <h5 class="col-2"><strong>配送先</strong></h5>
    <div class="col-10">
      〒<%= @order.postal_code %><%= @order.address %><br>
      <%= @order.name %>
    </div>
  </div>
  <div class="row m-2">
    <h5 class="col-2"><strong>支払方法</strong></h5>
    <div class="col-10">
      <%= @order.payment_method_i18n %>
    </div>
  </div>
  <div class="row m-2">
    <h5 class="col-2"><strong>注文ステータス</strong></h5>
    <div class="col-10">
      <%= form_for @order, url: admin_order_path do |f| %>
        <%= f.select :status, Order.statuses_i18n.invert %>
        <%= f.submit "更新", class: "btn btn-success ml-4 py-1" %>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th class="col-3">商品名</th>
            <th class="col-2">単価(税込)</th>
            <th class="col-1">数量</th>
            <th class="col-2">小計</th>
            <th class="col-4">製作ステータス</th>
          </tr>
        </thead>
    
        <tbody>
          <% @order_details.each do |order_detail| %>
          <% @total = 0 %>
          <% @total += order_detail.item.with_tax_price %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.item.with_tax_price).to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.price.to_s(:delimited) %></td>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
            <td>
              <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert, class: "ml-2" %>
              <%= f.submit "更新", class: "btn btn-success px-2 ml-5" %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="col-1"></div>
    
    <div class="col-3">
      <table class="table table-borderless ">
        <tr>
          <th></th>
          <td></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td class="text-right"><%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td class="text-right"><%= @order.shipping_cost %>円</td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td class="text-right"><strong><%= @order.total_payment.to_s(:delimited) %>円</strong></td>
        </tr>
      </table>
    </div>
  </div>
</div>