<h1>Public::Orders#confirm</h1>
<!--顧客：注文情報確認画面-->
<div class="container">
  <h2>注文情報確認</h2>

  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
      <% total = 0 %>
    </thead>

    <tbody>
      <% if current_customer.cart_items.present? %>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <% if cart_item.item.image.attached? %>
              <%= image_tag cart_item.item.image, size: "100x100" %>
            <% else %>
              <%= image_tag 'default-image', size: "100x100" %>
            <% end %>
            <%= cart_item.item.name %>
          </td>
          <td><%= (cart_item.item.price * 1.1).floor %></td>
          <td><%= cart_item.amount %></td>
          <% total += (cart_item.item.price * 1.1).floor * cart_item.amount %>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>送料</th>
        <th>商品合計</th>
        <th>請求金額</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>800</td>
        <td><%= total %></td>
        <td>
          <% sum = total + 800 %>
          <%= sum %>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div>
    <p>
      支払方法
      <%= @order.payment_method_i18n %>
    </p>
    <p>
      お届け先
      <%= @order.address %>
      <%= @order.name %>
    </p>
  </div>
  
  <%= form_with model: @order, url: orders_path do |f| %>
    <%= f.hidden_field :customer_id, value: current_customer.id %>
    <%= f.hidden_field :payment_method, value: @order.payment_method %>
    <%= f.hidden_field :shipping_cost, value: 800 %>
    <%= f.hidden_field :postal_code, value: total + 800 %>
    <%= f.hidden_field :name, value: @order.name %>
    <%= f.hidden_field :order_status, value: "waiting_for_payment" %>
    <%= f.submit "注文を確定する" %>
  <% end %>
</div>