<!--<h1>Public::Orders#new</h1>-->
<!--顧客：注文情報入力画面(支払方法・配送先の選択)-->
<div class="container">
  <div class="m-4">
    <h4 class="d-inline border border-secondary px-3">注文情報入力</h4>
  </div>

    <%= form_with model: @order, url: order_confirm_path, method: :post do |f| %>
    <h5><strong>支払方法</strong></h5>
    <div class="form-group row">
      <div class="col-10">
        <div>
          <%= f.radio_button :payment_method, Order.payment_methods.key(0), class: "ml-5" %>
          <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %><br>
          <%= f.radio_button :payment_method, Order.payment_methods.key(1), class: "ml-5" %>
          <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
        </div>
      </div>
    </div>

    <h5><strong>お届け先</strong></h5>
    <div class="form-group row">
      <div class="col-10">
        <%= f.radio_button :select_address, 0, class: "ml-5" %>
        <%= f.label 'ご自身の住所' %><br>
        <div class="col-5 ml-5">
          <%= "〒" + current_customer.postal_code + " " + current_customer.address %><br>
          <%= current_customer.first_name + current_customer.last_name %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="ml-3">
        <%= f.radio_button :select_address, 1, class: "ml-5" %>
      </div>
      <div class="col-5 mb-3">
        <%= f.label '登録済住所から選択' %><br>
        <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display), class: "p-2" %>
      </div>
      <div class="col-10">
        <%= f.radio_button :select_address, 2, class: "ml-5" %>
        <%= f.label '新しいお届け先' %><br>
        <%= f.label '郵便番号(ハイフンなし)', class: "ml-5 col-3"  %>
        <%= f.text_field :postal_code, placeholder: "0000000", class: "col-3" %><br>
        <%= f.label '住所', class: "ml-5 col-3"  %>
        <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "col-5" %><br>
        <%= f.label '宛名', class: "ml-5 col-3"  %>
        <%= f.text_field :name, placeholder: "令和道子", class: "col-3" %>
        </div>
      </div>
      <div><%= f.submit "確認画面へ進む", class: "btn btn-primary text-center" %></div>
    </div>
    <% end %>
  </div>
</div>