<h1>Public::Items#index</h1>
<!--顧客：商品一覧画面-->
<div class="container">
  <!--ジャンル検索：部分テンプレート-->
  <%= render 'public/genres/sidebar', genres: @genres %> 

  <!--商品一覧-->
  <div class="item-content">
    <h2>
      商品一覧
      (全<%= @items.count %>件)
    </h2>

    <div class="item-list">
      <% @items.each do |item| %>
      <p>
        <%= link_to item_path(item.id) do %> 
          <% if item.image.attached? %>
            <%= image_tag item.image, size: "100x100" %>
          <% else %>
            <%= image_tag 'default-image', size: "100x100" %>
          <% end %>
        <% end %>
      </p>
      <p><%= item.name %></p>
      <p>￥<%= item.price.to_s(:delimited) %></p>
      <% end %>
      <%= paginate @items %>
    </div>
  </div>
</div>