<h1>Public::Items#show</h1>
<!--顧客：商品詳細ページ-->
<div class="container">
  <!--ジャンル検索：部分テンプレート-->

  <!--商品詳細-->
  <div class="item-show-content">
    <div>
    <% if @item.image.attached? %>
      <%= image_tag @item.image, size: "100x100" %>
    <% else %>
      <%= image_tag 'default-image', size: "100x100" %>
    <% end %>
    </div>
    <div>
      <h3><%= @item.name %></h3>
      <p><%= @item.introduction %></p>
      <p>￥<%= (@item.price * 1.1).floor.to_s(:delimited) %>(税込)</p>
      
      <!--カート内商品へ送る内容-->
      <% if @item.is_active == true %>
        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.select :amount, *[1..10] %>
          <%= f.submit 'カートに入れる' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>