<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--管理者用ヘッダー：部分テンプレート引用部-->
    <header>
    <nav class="navber navber-fixed-top navber-inverse">
      <div class="container">
        <div class="row">
          <!--ショップロゴ-->
          <a class="nav navber-nav navber-left" href="/">
            <span>Logo</span>
          </a>
          
          <ul class="nav navber-nav navber-right">
            <% if admin_signed_in? %>
              <%= render 'layouts/admin_header' %>
            <% elsif customer_signed_in? %>
              <%= render 'layouts/customer_header' %>
            <% else %>
              <li class="nav-item mr-3"><%= link_to 'About', about_path %></li>
              <li class="nav-item mr-3"><%= link_to '商品一覧', items_path %></li>
              <li class="nav-item mr-3"><%= link_to '新規登録', new_customer_registration_path %></li>
              <li class="nav-item mr-3"><%= link_to 'ログイン', new_customer_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
</header>
    
    <%= yield %>
  </body>
</html>
